<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <main class="h-screen mt-16 ml-64 px-12 xl:px-40 py-6">

        <!-- Recommended -->
        <div class="flex flex-col border-b border-gray-500">
        <p class="mb-4">Recommended</p>
        <div class="flex flex-row flex-wrap gap-6">
            <div class="mr-1 my-2">
                <img src="http://www.placecage.com/210/118"/>
                <p class="text-sm py-1">Some title for the video</p>
                <p class="text-xs text-gray-600">Some creator</p>
                <p class="text-xs text-gray-600">458K views • 7 months ago</p>
            </div>
            <div class="mr-1 my-2">
                <img src="http://www.fillmurray.com/210/118"/>
                <p class="text-sm py-1">Some title for the video</p>
                <p class="text-xs text-gray-600">Some creator</p>
                <p class="text-xs text-gray-600">458K views • 7 months ago</p>
            </div>
            <div class="mr-1 my-2">
                <img src="http://www.stevensegallery.com/210/118"/>
                <p class="text-sm py-1">Some title for the video</p>
                <p class="text-xs text-gray-600">Some creator</p>
                <p class="text-xs text-gray-600">458K views • 7 months ago</p>
            </div>
            <div class="mr-1 my-2">
                <img src="http://www.placekitten.com/210/118"/>
                <p class="text-sm py-1">Some title for the video</p>
                <p class="text-xs text-gray-600">Some creator</p>
                <p class="text-xs text-gray-600">458K views • 7 months ago</p>
            </div>
            <div class="mr-1 my-2">
                <img src="http://www.placecage.com/210/118"/>
                <p class="text-sm py-1">Some title for the video</p>
                <p class="text-xs text-gray-600">Some creator</p>
                <p class="text-xs text-gray-600">458K views • 7 months ago</p>
            </div>
            <div class="mr-1 my-2">
                <img src="http://www.fillmurray.com/210/118"/>
                <p class="text-sm py-1">Some title for the video</p>
                <p class="text-xs text-gray-600">Some creator</p>
                <p class="text-xs text-gray-600">458K views • 7 months ago</p>
            </div>
            <div class="mr-1 my-2">
                <img src="http://www.stevensegallery.com/210/118"/>
                <p class="text-sm py-1">Some title for the video</p>
                <p class="text-xs text-gray-600">Some creator</p>
                <p class="text-xs text-gray-600">458K views • 7 months ago</p>
            </div>
            <div class="mr-1 my-2">
                <img src="http://www.placekitten.com/210/118"/>
                <p class="text-sm py-1">Some title for the video</p>
                <p class="text-xs text-gray-600">Some creator</p>
                <p class="text-xs text-gray-600">458K views • 7 months ago</p>
            </div>
            <div class="mr-1 my-2">
                <img src="http://www.placecage.com/210/118"/>
                <p class="text-sm py-1">Some title for the video</p>
                <p class="text-xs text-gray-600">Some creator</p>
                <p class="text-xs text-gray-600">458K views • 7 months ago</p>
            </div>
            <div class="mr-1 my-2">
                <img src="http://www.fillmurray.com/210/118"/>
                <p class="text-sm py-1">Some title for the video</p>
                <p class="text-xs text-gray-600">Some creator</p>
                <p class="text-xs text-gray-600">458K views • 7 months ago</p>
            </div>
            <div class="mr-1 my-2">
                <img src="http://www.stevensegallery.com/210/118"/>
                <p class="text-sm py-1">Some title for the video</p>
                <p class="text-xs text-gray-600">Some creator</p>
                <p class="text-xs text-gray-600">458K views • 7 months ago</p>
            </div>
            <div class="mr-1 my-2">
                <img src="http://www.placekitten.com/210/118"/>
                <p class="text-sm py-1">Some title for the video</p>
                <p class="text-xs text-gray-600">Some creator</p>
                <p class="text-xs text-gray-600">458K views • 7 months ago</p>
            </div>	
            <div class="mr-1 my-2">
                <img src="http://www.placecage.com/210/118"/>
                <p class="text-sm py-1">Some title for the video</p>
                <p class="text-xs text-gray-600">Some creator</p>
                <p class="text-xs text-gray-600">458K views • 7 months ago</p>
            </div>
            <div class="mr-1 my-2">
                <img src="http://www.fillmurray.com/210/118"/>
                <p class="text-sm py-1">Some title for the video</p>
                <p class="text-xs text-gray-600">Some creator</p>
                <p class="text-xs text-gray-600">458K views • 7 months ago</p>
            </div>
            <div class="mr-1 my-2">
                <img src="http://www.stevensegallery.com/210/118"/>
                <p class="text-sm py-1">Some title for the video</p>
                <p class="text-xs text-gray-600">Some creator</p>
                <p class="text-xs text-gray-600">458K views • 7 months ago</p>
            </div>
            <div class="mr-1 my-2">
                <img src="http://www.placekitten.com/210/118"/>
                <p class="text-sm py-1">Some title for the video</p>
                <p class="text-xs text-gray-600">Some creator</p>
                <p class="text-xs text-gray-600">458K views • 7 months ago</p>
            </div>			
        </div>
        <a class="uppercase text-sm text-gray-600 my-4" href="#">show more</a>
        </div>



        <!-- Recently Uploaded -->
        <div class="flex flex-col border-b border-gray-300">
            <p class="my-4">Recently Uploaded <span class="text-xs text-gray-600">Recommended videos for you</span></p>
            <div class="flex flex-row flex-wrap  gap-6">
            <div class="mr-1 my-2">
                <img src="http://www.stevensegallery.com/210/118"/>
                <p class="text-sm py-1">Some title for the video</p>
                <p class="text-xs text-gray-600">Some creator</p>
                <p class="text-xs text-gray-600">458K views • 7 months ago</p>
            </div>
            <div class="mr-1 my-2">
                <img src="http://www.placekitten.com/210/118"/>
                <p class="text-sm py-1">Some title for the video</p>
                <p class="text-xs text-gray-600">Some creator</p>
                <p class="text-xs text-gray-600">458K views • 7 months ago</p>
            </div>	
            <div class="mr-1 my-2">
                <img src="http://www.placecage.com/210/118"/>
                <p class="text-sm py-1">Some title for the video</p>
                <p class="text-xs text-gray-600">Some creator</p>
                <p class="text-xs text-gray-600">458K views • 7 months ago</p>
            </div>
            <div class="mr-1 my-2">
                <img src="http://www.fillmurray.com/210/118"/>
                <p class="text-sm py-1">Some title for the video</p>
                <p class="text-xs text-gray-600">Some creator</p>
                <p class="text-xs text-gray-600">458K views • 7 months ago</p>
            </div>
            <div class="mr-1 my-2">
                <img src="http://www.stevensegallery.com/210/118"/>
                <p class="text-sm py-1">Some title for the video</p>
                <p class="text-xs text-gray-600">Some creator</p>
                <p class="text-xs text-gray-600">458K views • 7 months ago</p>
            </div>
            <div class="mr-1 my-2">
                <img src="http://www.placekitten.com/210/118"/>
                <p class="text-sm py-1">Some title for the video</p>
                <p class="text-xs text-gray-600">Some creator</p>
                <p class="text-xs text-gray-600">458K views • 7 months ago</p>
            </div>		
            </div>
        </div>



        <!-- Science - Topic -->
        <div class="flex flex-col border-b border-gray-300">
            <div class="my-4 flex flex-row items-center justify-between">
                <div class="flex flex-row">
                    <div class="bg-red-800 rounded-full text-white w-8 h-8 flex items-center justify-center text-lg mr-2"></div>
                    <p class="">Science - Topic <span class="text-xs text-gray-600">Recommended videos for you</span></p>
                </div>
                <div class="flex flex-row items-center">
                    <button class="bg-red-600 py-2 px-4 text-white uppercase text-sm cursor-pointer">Subscribe 474K</button>
                    <p class="mx-2 uppercase text-gray-600">
                        <svg class="fill-current mx-2 h-4 w-4 cursor-pointer text-gray-500" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Page-1" stroke="currentColor" stroke-width="1" fill="currentColor" fill-rule="evenodd">
                                <g id="icon-shape">
                                    <polygon id="Combined-Shape" points="10 8.58578644 2.92893219 1.51471863 1.51471863 2.92893219 8.58578644 10 1.51471863 17.0710678 2.92893219 18.4852814 10 11.4142136 17.0710678 18.4852814 18.4852814 17.0710678 11.4142136 10 18.4852814 2.92893219 17.0710678 1.51471863 10 8.58578644"></polygon>
                                </g>
                            </g>
                            </svg></p>
                </div>
            </div>
            <div class="flex flex-row flex-wrap gap-x-6">
            <div class="mr-1 my-2">
                <img src="http://www.stevensegallery.com/210/118"/>
                <p class="text-sm py-1">Some title for the video</p>
                <p class="text-xs text-gray-600">Some creator</p>
                <p class="text-xs text-gray-600">458K views • 7 months ago</p>
            </div>
            <div class="mr-1 my-2">
                <img src="http://www.placekitten.com/210/118"/>
                <p class="text-sm py-1">Some title for the video</p>
                <p class="text-xs text-gray-600">Some creator</p>
                <p class="text-xs text-gray-600">458K views • 7 months ago</p>
            </div>	
            <div class="mr-1 my-2">
                <img src="http://www.placecage.com/210/118"/>
                <p class="text-sm py-1">Some title for the video</p>
                <p class="text-xs text-gray-600">Some creator</p>
                <p class="text-xs text-gray-600">458K views • 7 months ago</p>
            </div>
            <div class="mr-1 my-2">
                <img src="http://www.fillmurray.com/210/118"/>
                <p class="text-sm py-1">Some title for the video</p>
                <p class="text-xs text-gray-600">Some creator</p>
                <p class="text-xs text-gray-600">458K views • 7 months ago</p>
            </div>
            <div class="mr-1 my-2">
                <img src="http://www.stevensegallery.com/210/118"/>
                <p class="text-sm py-1">Some title for the video</p>
                <p class="text-xs text-gray-600">Some creator</p>
                <p class="text-xs text-gray-600">458K views • 7 months ago</p>
            </div>
            <div class="mr-1 my-2">
                <img src="http://www.placekitten.com/210/118"/>
                <p class="text-sm py-1">Some title for the video</p>
                <p class="text-xs text-gray-600">Some creator</p>
                <p class="text-xs text-gray-600">458K views • 7 months ago</p>
            </div>		
            </div>
        </div>
    </main>
</body>
</html>